<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/style.css">
    <title>Notas De Estudiantes</title>
</head>
<body>
    <header>
        <div>
            <h1>Students Exam Scores</h1>
            <p>Posted by Luis Sazo</p>
        </div>
    </header>

    <div class="content">
        <section>
        <p>
            En este proyecto se presenta un análisis del conjunto de datos 
            <strong>Students Exam Scores</strong>, que recopila los resultados de estudiantes
            en Matemáticas, Lectura y Escritura. Los alumnos están organizados en 
            cinco grupos (del Grupo A al Grupo E), lo que permite comparar el desempeño
            académico entre ellos de una forma clara y visual. 
        </p>

         <p>
            A partir del uso de Python y herramientas de visualización, se generaron
            distintas gráficas que ayudan a observar cómo se distribuyen las calificaciones, 
            identificar diferencias entre los grupos y comprender mejor los patrones
            generales en los resultados de los exámenes.
        </p>
    </section>

    <section>
        <h2>Datos Calculados</h2>

        <table>
            <thead>
                <tr>
                    <th>Grupo</th>
                    <th>Cantidad De Alumnos</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Grupo A</td>
                    <td>2,359</td>
                </tr>
                <tr>
                    <td>Grupo B</td>
                    <td>6,192</td>
                </tr>
                <tr>
                    <td>Grupo C</td>
                    <td>9,816</td>
                </tr>
                <tr>
                    <td>Grupo D</td>
                    <td>7,986</td>
                </tr>
                <tr>
                    <td>Grupo E</td>
                    <td>4,288</td>
                </tr>
            </tbody>
        </table>
    </section>
    </div>


</body>
</html>