* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografía general */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f7fa;
    color: #333;
    line-height: 1.6;

}

/* Header */
header {
    background-color: #1f2937;
    color: #ffffff;
    padding: 30px 20px;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 5px;
}

header p {
    font-size: 0.95rem;
    opacity: 0.85;
}

/* Contenido Principal */
.content {
    max-width: 1400px;
    margin: 40px auto;
    padding: 0 20px;
}

/* Secciones */
section {
    background-color: #ffffff;
    padding: 45px;
    margin-bottom: 30px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

section p {
    margin-bottom: 15px;
    font-size: 1rem;
}

section h2 {
    margin-bottom: 15px;
    font-size: 1.4rem;
    color: #1f2937;
    border-bottom: 2px solid #e5e7eb;
    padding-bottom: 10px;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead {
    background-color: #1f2937;
    color: #ffffff;
}

th,
td {
    padding: 12px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f3f4f6;
}

tbody tr:hover {
    background-color: #e5e7eb;
}

/* Negritas */
strong {
    color: #111827;
}

/* Imagenes */
img {
    max-width: 1300px;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.grafica-grupo {
    max-width: 900px;
    width: 100%;
    display: block;
    height: auto;
    margin: 25px auto;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

/* Footer */
footer {
    background-color: #1f2937;
    color: #ffffff;
    padding: 30px 20px;
    text-align: center;
}

footer p {
    font-size: large;
}
